body {
  font-family: Arial, sans-serif;
  background: #0d0d0d;
  color: #fff;
  margin: 0;
  padding: 30px;
}

.title {
  text-align: center;
  margin-bottom: 20px;
  letter-spacing: 2px;
}

#search {
  display: block;
  margin: 0 auto 25px auto;
  padding: 12px 20px;
  width: 350px;
  border-radius: 6px;
  border: none;
  font-size: 16px;
}

#champion-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 90px);
  gap: 18px;
  justify-content: center;
}

.champ-icon {
  width: 90px;
  height: 90px;
  border-radius: 12px;
  cursor: pointer;
  transition: transform .20s, box-shadow .20s;
}

.champ-icon:hover {
  transform: scale(1.15);
  box-shadow: 0 0 18px #a832ff;
}

/* POPUP */

#popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(4px);
  background: rgba(0,0,0,0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
}

#popup-content {
  background: #1b1b1b;
  padding: 25px;
  border-radius: 12px;
  width: 500px;
}

#popup-title {
  text-align: center;
  margin-bottom: 20px;
}

#popup-list li {
  margin-bottom: 10px;
  line-height: 1.4;
}
